<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @beneficiaire.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @beneficiaire.prenom %>
</p>

<p>
  <strong>Etat civil:</strong>
  <%= @beneficiaire.etat_civil %>
</p>

<p>
  <strong>Metier:</strong>
  <%= @beneficiaire.metier %>
</p>

<p>
  <strong>Num cnss:</strong>
  <%= @beneficiaire.num_cnss %>
</p>

<p>
  <strong>Lieu naissance:</strong>
  <%= @beneficiaire.lieu_naissance %>
</p>

<p>
  <strong>Date naissance:</strong>
  <%= @beneficiaire.date_naissance %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @beneficiaire.adresse %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @beneficiaire.telephone %>
</p>

<p>
  <strong>Nom conjoint:</strong>
  <%= @beneficiaire.nom_conjoint %>
</p>

<p>
  <strong>Prenom conjoint:</strong>
  <%= @beneficiaire.prenom_conjoint %>
</p>

<p>
  <strong>Metier conjoint:</strong>
  <%= @beneficiaire.metier_conjoint %>
</p>

<p>
  <strong>Lieu naissance conjoint:</strong>
  <%= @beneficiaire.lieu_naissance_conjoint %>
</p>

<p>
  <strong>Telephone conjoint:</strong>
  <%= @beneficiaire.telephone_conjoint %>
</p>

<p>
  <strong>Nbre membre famille:</strong>
  <%= @beneficiaire.nbre_membre_famille %>
</p>

<p>
  <strong>Nbre garcon:</strong>
  <%= @beneficiaire.nbre_garcon %>
</p>

<p>
  <strong>Nbre fille:</strong>
  <%= @beneficiaire.nbre_fille %>
</p>
<h2>membres famille:</h2>

  <% @beneficiaire.members.each do |member| %>
  <p>
    <strong>nom:</strong>
    <%= member.nom %>
  </p>
  <p>
    <strong>prenom:</strong>
    <%= member.prenom %>
  </p>
  <p>
    <strong>date naissance:</strong>
    <%= member.date_naissance %>
  </p>
  <p>
    <strong>age:</strong>
    <%= member.age %>
  </p><p>
    <strong>sexe:</strong>
    <%= member.sexe %>
  </p>
  <p>
    <strong>etat medical:</strong>
    <%= member.etat_medical %>
  </p>
  <p>
    <strong>remarques:</strong>
    <%= member.remarque %>
  </p>
  <% end %>
<h2> Ajouter un membre famille</h2>
<%= form_for ([@beneficiaire, @beneficiaire.members.build]) do |f| %>
<div class="field">
  <%= f.label :nom %>
  <%= f.text_field :nom %>
</div>
<div class="field">
  <%= f.label :prenom %>
  <%= f.text_field :prenom %>
</div>
<div class="field">
  <%= f.label :date_naissance %>
  <%= f.date_select :date_naissance %>
</div>
<div class="field">
  <%= f.label :age %>
  <%= f.number_field :age %>
</div>
<div class="field">
  <%= f.label :sexe %>
  <%= f.text_field :sexe %>
</div>
<div class="field">
  <%= f.label :etat_medical %>
  <%= f.text_field :etat_medical %>
</div>
<div class="field">
  <%= f.label :remarque %>
  <%= f.text_area :remarque %>
</div>
<div class="button">

  <%= f.submit %>
</div>

<% end %>





<%= link_to 'Edit', edit_beneficiaire_path(@beneficiaire) %> |
<%= link_to 'Back', beneficiaires_path %>
