<%= form_for(service_beneficiaire) do |f| %>
  <% if service_beneficiaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_beneficiaire.errors.count, "error") %> prohibited this service_beneficiaire from being saved:</h2>

      <ul>
      <% service_beneficiaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cout %>
    <%= f.text_field :cout %>
  </div>

  <div class="field">
    <%= f.label :date_service %>
    <%= f.date_select :date_service %>
  </div>

  <div class="field">
    <%= f.label :service_id %>
    <%=f.select :service_id, options_for_select(Service.all.map{|s| [s.nom, s.id]})%>
  </div>

  <div class="field">
    <%= f.label :beneficiaire_id %>
    <%=f.select :beneficiaire_id, options_for_select(Beneficiaire.all.map{|b| [b.nom, b.id]})%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
